// For page post and description
.mona-content {
  strong,
  b {
    font-weight: bold;
  }
  em,
  i {
    font-style: italic;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.3;
    margin-bottom: 0.5em;
    margin-top: 0.6em;
  }
  h1 {
    font-size: 1.7em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1.125em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.85em;
  }
  p {
    margin: 1em 0;
  }
  ul,
  ol {
    margin: 1em 0;
    list-style-position: inside;
  }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-left: 1em;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  ul ul,
  ol ul {
    list-style-type: circle;
  }
  ol ol,
  ul ol {
    list-style-type: lower-latin;
  }
  img,
  iframe {
    max-width: 100% !important;
    height: auto;
  }
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1em 0;
    padding: 1em;
    quotes: '\201C''\201D''\2018''\2019';
    &::before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    p {
      display: inline;
    }
  }
  table {
    border-collapse: collapse;
    max-width: 100%;
    margin: 1em 0;
    border: 1px solid #e1e1e1;
    th,
    td {
      border-right: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;
      padding: 5px 10px;
      vertical-align: middle;
    }
  }
  .mona-youtube-wrap {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .mona-table-wrap {
    overflow: auto;
  }
  &.--custom {
    strong {
      color: $primary;
    }
  }
  &.--custom2 {
    p {
      font-weight: 300;
    }
    strong {
      text-transform: uppercase;
    }
  }
  &.--custom3 {
    p {
      font-weight: 300;
    }
    strong {
      color: $primary2;
    }
  }
}
//Image
.img-full {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}
//Spacing padding
.spacing {
  padding-top: 50px;
  padding-bottom: 65px;
}

//Reset Appearance
.reset-apperance {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

//title common
.title-cm {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.32;
  text-transform: uppercase;
  @include media(540px) {
    font-size: 30px;
  }
}

//title-main
.title-main {
}

//Form search
.form-search {
  &__title {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2.1;
    margin-bottom: 9px;
  }
  .form {
    position: relative;
    margin-bottom: 11px;
    input {
      padding: 13px 41px;
      font-size: 12px;
      background-color: #2d394e;
      color: $white;
      width: 100%;
      border: 1px solid transparent;
      -webkit-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all;
      &::-webkit-input-placeholder {
        color: #6c7483;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.33;
      }
      &::-moz-placeholder {
        color: #6c7483;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.33;
      }
      &:-ms-input-placeholder {
        color: #6c7483;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.33;
      }
      &::-ms-input-placeholder {
        color: #6c7483;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.33;
      }
      &::placeholder {
        color: #6c7483;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.33;
      }
      &:focus {
        border-color: $primary2;
      }
    }
    button {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 15px;
      font-size: 18px;
      color: #4fcafc;
      &:hover {
        color: $white;
      }
    }
  }
}

//Breadcums
.breadcums {
  background-color: #e7f3fd;
  padding: 13px 0;
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    li {
      text-transform: uppercase;
      line-height: 1.4;
      font-weight: bold;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 11px;
      a {
        color: #8a9298;
      }
      &:hover {
        a {
          color: $primary2;
        }
      }
      &.active {
        a {
          color: $black;
        }
        &::before {
          background-color: $primary2;
        }
      }
      &::before {
        content: '';
        margin-right: 15px;
        display: block;
        width: 8px;
        height: 8px;
        background-color: #8b9298;
        border-radius: 100%;
      }
    }
  }
}

//Spacing
.spacing {
  padding: 80px 0;
  @include media(540px) {
    padding: 60px 0;
  }
}
//Space
.space {
  padding: 100px 0;
  @include media(768px) {
    padding: 80px 0;
  }
  @include media(540px) {
    padding: 60px 0;
  }
}
//Danh muc Aside
.danhmuc-main {
  padding: 13px 3px 3px 3px;
  background-color: $primary;
  border-radius: 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  &__title {
    color: $white;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
  }
  &__inner {
    background-color: $white;
    border-radius: 12px;
    -webkit-box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.1);
    ul {
      .items {
        a {
          padding: 20px 12px;
          display: inline-block;
        }
        font-weight: bold;
        &:first-child {
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
        }
        &:last-child {
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
        }
        cursor: pointer;
        text-align: center;
        border-bottom: 1px solid #e2e2e2;
        &:last-child {
          border-bottom: none;
        }
        &__title {
          font-size: 18px;
          display: block;
          line-height: 1.1;
        }
        &__subtitle {
          font-size: 12px;
          display: block;
          line-height: 1.6;

          color: #a2a2a2;
        }
        &.active {
          -webkit-box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.16);
          background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#1886eb),
            to(#4fcafc)
          );
          background-image: -o-linear-gradient(left, #1886eb, #4fcafc);
          background-image: linear-gradient(to right, #1886eb, #4fcafc);
          .items__title {
            color: $white;
          }
          .items__subtitle {
            color: #93ccf7;
          }
        }
      }
    }
  }
}

//Medicine items
.medicine {
  border-radius: 10px;
  border: solid 1px #e5e5e5;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  &__top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px 35px;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__mid {
    min-height: 76px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    background-color: transparent;
    a {
      color: $white;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  &__bot {
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
    background-color: #f8f8f8;
  }
  &:hover {
    -webkit-box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);
  }
}
.info__list__main {
  position: relative;
  z-index: 10;
  padding-bottom: 24px;
  border-bottom: 1px solid #cccccc;
  .row {
    .col-4 {
      width: calc(100% / 12 * 4);
      margin-bottom: 30px;
      @include media(540px) {
        width: 100%;
      }
    }
  }
}
//nav-cm
.nav-cm {
  li {
    font-weight: 300;
    list-style: none;
    position: relative;
    padding-left: 20px;
    font-size: 16px;
    line-height: 1.875;
    span {
      font-weight: bold;
      color: $primary2;
    }
    &::before {
      content: '';
      position: absolute;
      top: 12px;
      left: 0;
      width: 6px;
      height: 6px;
      background-color: $primary2;
    }
  }
}

//Surgical about
.surgical__about {
  background-color: #f8f8f8;
  position: relative;
  overflow: hidden;
  .title-cm {
    margin-bottom: 30px;
  }
  .description {
    position: relative;
    z-index: 10;
    p {
      font-size: 16px;
      font-weight: 300;
    }
  }
  .image-ol {
    position: absolute;
    top: 0;
    right: -35px;
    height: 100%;
    img {
      height: 100%;
    }
    @include media(540px) {
      display: none;
    }
  }
}
//List items for medicine - english
.medicine-en {
  overflow: hidden;
  img {
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    width: 100%;
    margin-bottom: 5px;
    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  &__mid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 50px;
    position: relative;
    padding: 7px 12px;
    margin-bottom: 12px;
    .title {
      position: relative;
      font-weight: bold;
      z-index: 10;
      font-size: 14px;
      line-height: 1.35;
      text-transform: uppercase;
    }
    .overlay-bar {
      -webkit-transition: 0.5s all;
      -o-transition: 0.5s all;
      transition: 0.5s all;
      position: absolute;
      width: 4px;
      height: 100%;
      left: 0;
      top: 0;
      background-color: transparent;
    }
    &:hover {
      .title {
        color: $white;
      }
      .overlay-bar {
        width: 100%;
      }
    }
  }
  &__bot {
    font-weight: 300;
    line-height: 1.33;
    font-size: 12px;
  }
}
.detail__listInfo {
  background-color: #f8f8f8;
  padding: 50px 0;
  .row {
    .col-2 {
      width: calc(100% / 12 * 2);
      @include media(540px) {
        width: 50%;
      }
    }
  }
  .content {
    margin-bottom: 40px;
    @include media(540px) {
      text-align: center;
    }
    img {
      width: 70px;
      height: auto;
      margin-bottom: 8px;
    }
    &__title {
      font-size: 14px;
    }
    span {
      font-weight: 300;
      display: block;
    }
  }
}

//table
.wrap__table {
  overflow: auto;
  .table {
    border-collapse: collapse;
    text-align: center;
    tr {
      th {
        background-color: #1e3461;
        padding: 30px;
        color: $white;
        &:not(:last-child) {
          border-right: 1px solid #354971;
        }
      }
      td {
        padding: 15px 30px;
        text-transform: uppercase;
        border-right: 1px solid #dfdfdf;
      }
      &:nth-child(even) {
        background-color: #f8f8f8;
      }
    }
  }
}

//content half in home
.content__half {
  width: 50%;
  padding: 0 25px;
  ul {
    li {
      position: relative;
      border-top: 1px solid #d0dae3;
      border-left: 5px solid transparent;
      &:last-child {
        border-bottom: 1px solid #d0dae3;
      }
      a {
        display: block;
        padding: 13px 10px;
        position: relative;
        z-index: 2;
        span {
          display: block;
          font-weight: 300;
          line-height: 1.33;
          &.title {
            font-weight: bold;
            margin-bottom: 2px;
          }
        }
        &::after {
          content: '\f105';
          font-family: FontAweSome;
          position: absolute;
          top: 50%;
          right: 0;
          width: 30px;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          color: #1886eb;
        }
      }
      .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        transition: 0.5s all;
        width: 0;
        background-size: cover;
        background-position: center center;
        -webkit-box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.16);
        box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.16);
      }
      &:hover {
        .image-overlay {
          width: 100%;
        }
        a {
          color: $white;
          &::after {
            color: $white;
          }
        }
      }
    }
  }
}

//swiper custom
.slider-home {
  .swiper-container {
    overflow: hidden;
    .swiper-wrapper {
      height: unset;
      .swiper-slide {
        padding-top: 340px;
        padding-bottom: 262px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include media(1023px) {
          padding-top: 150px;
          padding-bottom: 150px;
        }
        @include media(540px) {
          padding-top: 100px;
          padding-bottom: 100px;
        }
      }
    }
    .swiper-pagination {
      &.swiper-pagination-bullets {
        bottom: 85px;
        .swiper-pagination-bullet {
          margin: 0 10px;
          width: 15px;
          height: 15px;
          opacity: 1;
          border: 2px solid rgba(255, 255, 255, 0.2);
          background-color: transparent;
          &-active {
            border-color: transparent;
            background: $white;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  .content {
    padding: 0 30px;
    text-align: center;
    color: $white;
    .title {
      margin-bottom: 30px;
      font-size: 60px;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 1.33;
      text-shadow: 6px 6px 16px rgba(0, 0, 0, 0.46);
      @include media(540px) {
        font-size: 50px;
      }
      span {
        font-weight: bold;
      }
    }
    .btn-main {
      width: 100%;
      max-width: 230px;
      border: none;
      background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#1886eb),
        to(#4fcafc)
      );
      background-image: -o-linear-gradient(left, #1886eb 0%, #4fcafc 100%);
      background-image: linear-gradient(to right, #1886eb 0%, #4fcafc 100%);
      color: $white;
      i {
        color: $white;
      }
    }
  }
}

//medal page
.medal {
  overflow: hidden;
  color: $white;
  background-image: -o-linear-gradient(11deg, #0b395c, #105baa 67%);
  background-image: linear-gradient(79deg, #0b395c, #105baa 67%);
  .row {
    .col-3 {
      width: calc(100% / 12 * 3);
      @include media(1023px) {
        width: 50%;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      @include media(540px) {
        width: 100%;
      }
    }
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &__left {
      margin-right: 20px;
      img {
        width: 50px;
        height: auto;
      }
    }
    &__right {
      font-weight: bold;
      font-size: 20px;
      line-height: 1.35;
    }
  }
}
