.footer {
  &__top {
    background-color: $primary2;
    color: $white;
    padding: 50px 0;
    .row {
      align-items: center;
      .left {
        width: calc(100% - 300px);
      }
      .right {
        width: 300px;
      }
      @include media(540px) {
        .left {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
    .content {
      &__title {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.33;
        text-transform: uppercase;
        strong {
          font-weight: bold;
        }
        @include media(540px) {
          font-size: 21px;
        }
      }
      &__danhmuc {
        width: 100%;
        background-color: $primary;
        padding: 14px 15px;
        display: inline-block;
        color: $white;
        font-size: 12px;
        line-height: 1.33;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid transparent;
        i {
          font-size: 14px;
          color: $primary2;
        }
        &:hover {
          background-color: $white;
          color: $primary;
          border-color: $primary;
        }
      }
    }
  }
  &__bottom {
    background-color: #15223a;
    padding-top: 74px;
    padding-bottom: 48px;
    color: $white;
    @include media(1023px) {
      padding-top: 48px;
    }
    a {
      color: $white;
    }
    .row {
      .col-3 {
        width: calc(100% / 12 * 4);
        @include media(1023px) {
          width: 100%;
          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
      }
    }
    .content {
      .logo-bot {
        width: 100px;
        height: auto;
        margin-bottom: 7.5px;
      }
      .iso-bot {
        width: 130px;
        height: auto;
      }
      p {
        font-weight: 300;
        margin-bottom: 7px;
      }
      span {
        font-size: 10px;
        font-weight: bold;
        line-height: 1.4;
        opacity: 0.4;
        text-transform: uppercase;
      }
      &.--top {
        display: flex;
        justify-content: space-between;
        @include media(1023px) {
          flex-direction: column;
        }
      }
      &.--middle {
        padding-left: 50px;
        @include media(1023px) {
          padding-left: 0;
        }
      }
      &__left {
        @include media(1023px) {
          margin-bottom: 20px;
        }
      }
      &__list {
        ul {
          column-count: 2;
          column-gap: 30px;
          li {
            a {
              line-height: 2.5;
              text-transform: uppercase;
              &:hover {
                color: #4fcafc;
              }
            }
            &.active {
              a {
                color: #4fcafc;
                font-weight: bold;
              }
            }
          }
        }
      } 
    }

  }
}
