.wrapper-surgical-2 {
  overflow: hidden;
  .surgical-2__main {
    .top {
      .title-cm {
        font-weight: bold;
        margin-bottom: 48px;
        color: #801780;
      }
    }
    .detail__listInfo {
      padding-top: 0;
      .title-cm {
        margin-bottom: 30px;
      }
      background-color: unset;
    }
    .surgical__instruction {
      position: relative;
      z-index: 10;
      .title-cm {
        margin-bottom: 37px;
      }
      .description {
        column-count: 2;
        column-gap: 30px;
        @include media(540px) {
          column-count: 1;
        }
        .items {
          margin-bottom: 38px;
          strong {
            text-transform: uppercase;
          }
          span {
            font-weight: bold;
            color: #801780;
          }
          .nav-cm {
            li {
              font-size: 14px;
            }
          }
        }
      }
    }
    .surgical__twocolumn {
      .row {
        .col-6 {
          width: 50%;
          position: relative;
          @include media(1023px) {
            width: 100%;
          }
        }
      }
      .content {
        position: relative;
        z-index: 10;
        box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.16);
        background-color: $primary;
        color: $white;
        padding: 70px;
        @include media(540px) {
          padding: 30px 15px;
        }
        .title-cm {
          margin-bottom: 23px;
        }
        .nav-cm {
          li {
            font-weight: bold;
            &:not(:last-child) {
              margin-bottom: 35px;
              @include media(540px) {
                margin-bottom: 25px;
              }
            }
          }
        }
      }
      .img-ol {
        position: absolute;
        right: -326px;
        top: -154px;
        @include media(1023px) {
          display: none;
        }
        .img {
          width: 100%;
        }
      }
    }
    .surgical__table {
      .title-cm {
        margin-bottom: 30px;
      }
    }
  }
}
