.wrapper-surgical {
  .surgical__about {
    background-color: #f8f8f8;
    position: relative;
    overflow: hidden;
    .title-cm {
      margin-bottom: 30px;
    }
    .description {
        position: relative;
        z-index: 10;
      p {
        font-weight: 300;
      }
    }
    .image-ol {
      position: absolute;
      top: 0;
      right: -35px;
      height: 100%;
      img {
        height: 100%;
      }
      @include media(540px){
          display: none;
      }
    }
  }
  .surgical__main {
  }
}
