.wrapper-vattuyte-detail {
  .spacing {
    padding: 60px 0;
    @include media(540px) {
      padding: 45px 0;
    }
  }
  .yte-detail {
    .title-cm {
      color: $primary;
    }
    @include media(540px) {
      padding: 70px 0;
    }
    padding: 90px 0;

    &__top {
      padding-bottom: 35px;
      position: relative;
      border-bottom: 1px solid #e5e5e5;
      .title-cm {
        max-width: 500px;
        width: 100%;
        @include media(540px) {
          max-width: 100%;
        }
      }
      .image-ol {
        position: absolute;
        top: -250px;
        right: 0;
        @include media(1024px) {
          position: static;
        }
        @include media(540px) {
          text-align: center;
          img {
            width: 100%;
          }
        }
      }
    }
    &__list {
      padding: 40px 0;
      border-bottom: 1px solid #e5e5e5;
      .row {
        .column {
          width: 16.7%;
          @include media(1023px) {
            width: 20%;
          }
          @include media(540px) {
            width: 50%;
            margin-bottom: 20px;
          }
        }
      }
      .items {
        @include media(540px) {
          text-align: center;
        }
        img {
          width: 70px;
          height: auto;
          margin-bottom: 8px;
        }
        .title {
          font-size: 14px;
          line-height: 1.4;
          font-weight: bold;
          margin-bottom: 7px;
        }
        p {
          font-weight: 300;
        }
      }
    }
    &__huongdan {
      border-bottom: 1px solid #e5e5e5;
      .title-cm {
        margin-bottom: 20px;
      }
      .wrap__description {
        background-color: #f8f8f8;
        padding: 30px;
        .description {
          column-count: 2;
          column-gap: 40px;
          @include media(540px) {
            column-count: 1;
          }
          .items {
            &:first-child {
              p {
                margin-top: 0;
              }
            }
            p {
              font-weight: 300;
            }
            strong {
              color: $primary;
              font-weight: bold;
            }
            ul {
              margin: 0;
              list-style: none;
              li {
                font-weight: 300;
                position: relative;
                padding-left: 20px;
                &::before {
                  content: '';
                  position: absolute;
                  top: 6px;
                  left: 0;
                  width: 8px;
                  height: 8px;
                  background-color: $primary;
                }
              }
            }
          }
        }
      }
    }
    &__danhmuc {
      .title-cm {
        margin-bottom: 30px;
      }
    }
  }
}
